/*body .ui-datatable .ui-paginator {
    padding: 12px 12px;
}

ui-dialog-content ui-widget-content{
    height: auto; max-height: 633px;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-width: 0px;
    padding: 4px 10px;
}

body .ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 16px .1em 0;
    color: #353536;
    font-size: 20px!important;
    align-items: center;
}*/

/************************************************************
* WORD BREAK ON TABLE
************************************************************/
div.ngr-table .ui-datatable .ui-datatable-data > tr td:nth-child(2) {
    word-break: break-word;
}

div.ngr-table .ui-datatable .ui-datatable-data > tr td:nth-child(3) {  
    word-break: break-word;
}

div.ngr-table .ui-datatable .ui-datatable-data > tr td:nth-child(4) {  
    word-break: break-word;
}

/************************************************************
* AUTO SIZED TABLE
************************************************************/
div.ngr-table table{
    table-layout: auto;
    text-align: center;
}

/************************************************************
* DETAILS BUTTON DECORATION
************************************************************/
div.ngr-table .ui-datatable .ui-datatable-data > tr td:nth-child(1) {  
    font-size: 11px;
    padding: 2px 2px;
}

div.ngr-table .ui-datatable .ui-datatable-data > tr td:nth-child(1) button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {  
    border-radius: 100%;
    font-size: 11px;
}

div.ngr-table .ui-datatable .ui-datatable-data > tr td:nth-child(1) .ui-button-text.ui-c{
    padding-top: 0px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

div.ngr-table .ui-datatable .ui-datatable-data > tr td:nth-child(1) .ui-button-icon-left.ui-icon.ui-c.fa.fa-search-plus {
    margin-top: -7px;
}
